<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         verbose="true">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory>../src/Fujicat/Sardine/</directory>
        </whitelist>
    </filter>
    <testsuite name="Fujicat/Sardine Test Suite">
        <directory>.</directory>
    </testsuite>
</phpunit>